
{% extends 'app/base.html' %}

<!--importr la funcion para leer los archivos stattico en cada pagina-->
{% load static %}

{% block contenido %}


<div class="container">
  <div class="row">
    <div class="col-sm-4 col-log-2 borde">
      <div><span>José: Escultura, Obras y Exposiciones </span></div>
      <a class="nav-link" href="/artista/">
        <img class="w-100" src="{% static 'app/images/image14.jpg'%}"
      /></a>
    </div>
    <div class="col-sm-4 col-log-2 borde">
      <div><span>Manuel: Pintor, Obras y Exposiciones </span></div>
      <a class="nav-link" href="/artista2/">
        <img class="w-100" src="{% static 'app/images/imagen25.jpg' %}"
      /></a>
    </div>
    <div class="col-sm-4 col-log-2 borde">
      <div>
        <span>Kumerasaki: Arte Abstracto, Obras y Exposiciones </span>
      </div>
      <a class="nav-link" href="/artista3/">
        <img class="w-100" src="{% static 'app/images/ARTISTAS_3.jpg' %}"
      /></a>
    </div>
    <div class="col-sm-4 col-log-2 borde">
      <div><span>Jhin: Arte Callejero, Obras y Exposiciones </span></div>
      <a class="nav-link" href="/artista4/">
        <img class="w-100" src="{% static 'app/images/artista22.jpg' %}"
      /></a>
    </div>
    <div class="col-sm-4 col-log-2 borde">
      <div><span>Jhon: Pintor, Obras y Exposiciones </span></div>
      <a class="nav-link" href="/artista5/">
        <img class="w-100" src="{% static 'app/images/imagent12.jpg' %}"
      /></a>
    </div>
    <div class="col-sm-4 col-log-2 borde">
      <div><span>Florencia: Telar, Obras y Exposiciones </span></div>
      <a class="nav-link" href="/artista6/">
        <img class="w-100" src="{% static 'app/images/ARTISTAS_6.jpg' %}"
      /></a>
    </div>
  </div>
  <!-- EN IMG CLASS W-50 0 W-100 O W-AUTO ES EL TAMAÑO QUE TOMARA LA IMAGEN DENTRO DE SU CONTENEDOR -->
</div>
<br><br><br><br>






{% endblock %}

<!--contenido de la pagina principal-->
